<form>
    <div class="profile">
        <div class="profile__pic">
            <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="../../../assets/profile_pic.jpg" alt="Avatar">
                  </div>
                  <div class="flip-card-back">
                    <h1>{{name}}</h1>
                    <p>{{username}}</p>
                    <p>{{wins}}</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</form>
