<mat-toolbar color="warn" class="mat-elevation-z6" fxLayout fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center" class="logoContainer">
        <button mat-icon-button matTooltip="Menü" (click)="onClickToggleSideBar()">
            <mat-icon style="cursor: pointer">menu</mat-icon>
        </button>
    </div>
   <span> {{title}} </span>
    <div fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-icon-button matTooltip="Profil" matTooltipPosition="below">
            <mat-icon style="cursor: pointer">person</mat-icon>
        </button>
        <span fxFlex="1"></span>
        <button mat-icon-button  matTooltip="Kijelentkezés" matTooltipPosition="below">
            <mat-icon style="cursor: pointer" >power_settings_new</mat-icon>
        </button>
    </div>
</mat-toolbar>
