/*
COLORS:


BLACK:  #000000
RED:    #C32525
YELLOW: #E1EC49


*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Helvetica Neue", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(195, 37, 37, 0.6)), url(app/utils/img/banner.jpeg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
}